* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #F0F0F0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* NAVBAR STYLES */

nav {
    padding: 1rem;
}

nav a {
    color: black;
    padding-bottom: 2px;
}

.contact-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Display de la petite barre nav */

.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-size: 14pt;
    font-weight: 300;
    padding-right: 2rem;
}

/* Expand bottom border on hover */
/* TO EDIT */

.main-nav a:link,
.main-nav a:visited {
  color: #333;
  position: relative;
  padding-bottom: 5px;
}

.main-nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: .2s all ease-out;
}

.main-nav a:hover::after {
    transform: scale(1);
}

/* Accueil - Bloc image principale */

.image-container img {
    max-width: 41%;
}

.image-container {
    position: relative;
    color: white;
}

.absolute-title {
    position: absolute;
    left: 18%;
    top: 45%;
    margin: 0;
    text-shadow: #f0f0f027 2px 3px 1px;
}

.absolute-title-below {
    position: absolute;
    left: 18%;
    top: 73%;
    margin: 0;
}

/* Title styling */

.main-style-h1 {
    font-weight: 500;
    font-size: 6rem;
}

.sec-style-h1 {
    font-weight: 500;
    font-size: 5rem;
}

.main-style-h2 {
    font-weight: 400;
}

/* Mes creations */

.texte-travail-sylvie {
    font-family: 'Anek Malayalam', sans-serif;
}

.texte-travail-sylvie h1 {
    font-weight: 500;
}

.texte-travail-sylvie h2,
.texte-travail-sylvie h3 {
    font-weight: 300;
    padding: 0.2rem;
}

.travail-sylvie-img img {
    width: 59vw;
    max-width: 1200px;
}

.travail-container {
    display: flex;
}

/* Contact */

.container-wrapper {
    margin-top: 5.5rem;
}

.contact-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.3rem;
}

/* Footer */

footer {
    background-color: #696969;
}

.footer-columns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4.5rem;
    margin-top: 4rem;
}

.footer-columns-container a {
    color: #F0F0F0;
}

.footer-column {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}